# Erlang compiled files
*.beam
/ebin/

#latex useless files
relazione/*.aux
relazione/*.ini
relazione/*.lof
relazione/*.log
relazione/*.toc
relazione/*.gz
relazione/*.pdf
relazione/figure/*.pdf
relazione/*.out

#python cache
__pycache__
*.pyc